#carrito-container {
    border: 1px solid #27272c;
    padding: 1rem;
    background-color: #27272c;
    width: clamp(250px, 20%, 400px);
    margin-right: 1rem;
    position: fixed;
    top: 3.2rem;
    color:white;
    font-weight: bold;
    margin-top: 1rem;
    right: 0;
    border-radius: 4px;
    display: block;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
#carrito-container ul {
    list-style: none;
}
#carrito-container li {
    margin-bottom: 0.5rem;
}
#carrito-container button {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    text-align: center;
    background-color: #161618;
    color: red;
}
.btn-eliminar, .btn-info{
    width: 30%;
}

#carrito-container button:hover {
    background-color: #dc3545;
    color: white;
    cursor: pointer;
}
.img-principal {
    width: 10px;
}
@media (max-width: 768px) {
    #carrito-container {
        width: 90%;
        top: 2rem;
        right: 5%;
    }
    #carrito-container button {
        font-size: 0.9rem;
        width: auto;
    }
}