
/*encabezado*/
.encabezado-img{
    background-image: url(/Fotografias/ke.jpg);
    height: 500px;
    background-size:auto;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}
.encabezado-img img{
    object-fit: contain;
}
.encabezado-img p{
    font-size: 20px;
    text-align: center;
}
.encabezado-img .textocompra{
    color: rgb(186, 182, 182);
    font-style: italic;
    font-size: 22px;
}
.encabezado-img h1{
    font-size: 4rem;
    text-align: center;
}
.card {
    width:60%;
    margin: 0 auto;
    color: white;
    font-family:'Inter';
    display: flex;
    margin-bottom: 0.8rem;
}
.card-body {
float: left;
}


.card-title{
    text-decoration: none;
    color:white;
    background-color: #161618;
    font-size: 30px;
    margin-top: 2rem;
    padding-bottom: 30px;
    text-align: left;
    font-weight: bold;
    border: none;
}

.btn-container {
    display: flex; 
    justify-content: center;
    margin-top: 1rem;
    text-align: center;
}
.btn {
    font-size: 1.2rem;
    padding: 0.2rem 1rem;
    width: 20%;
    text-align: center;
    background-color:red;
    margin-top: 10px;
    color: white;
    font-family: Arial;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom:30px ;
    transition: background-color 0.3s ease;
}

.btn:hover{
    background-color: rgb(146, 15, 15);
}

.card-title:hover {
    cursor: pointer;
    color: red;
}
.img-fluid {
 width: 50%;
 float: right;
 margin-left: 2rem;
 margin-bottom: 3rem;
}
.card-text {
    font-size: 20px;
    text-align: justify;
    margin-top: 1rem;
    font-style: italic;
    margin-bottom: 10px;
    margin-top: 0.3rem;
    padding-bottom: 10px;

}


.card2 {
    width:60%;
    margin: 0 auto;
    color: white;
    font-family:'Inter';
    display: flex;
    margin-bottom: 0.8rem;
  
}

.card-title2{
    text-decoration: none;
    color: white;
    font-size: 30px;
    padding-bottom: 10px;
    text-align: left;
    margin-top: 0.5rem;
    font-weight: bold;
    background-color: #161618;
    border: none;

}
.card-title2:hover {
    cursor: pointer;
    color: red;
}

.img-fluid2 {
 width: 50%;
 float: right;
 margin-right: 2rem;
 float: left;
}
.card-text2 {
    font-size: 20px;
    text-align: justify;
    margin-top: 0.3rem;
    font-style: italic;
    margin-bottom: 10px;
}
.container-cb {
    display: flex;
    background-color:#161618;
    height: 3.5rem;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    margin-top: 1rem;
    
  }

  .form-control{
    font-size: 2rem;
    margin-right: 1rem;
    width:100%;
    height: 100%;
    background-color: transparent;
    border: 0;
    font-weight: bold;
    color:red;
  }
  .form-control option{
    display: inline-block;
    padding: 5px 10px; 
  }
  .filtro-boton:hover{
    background-color: #161618be;
    color: rgba(255, 0, 0, 0.516);
  }

 

